<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>857686266532-qoecoftjrbhg098bhtqhda1uqd5t0jl2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.857686266532-qoecoftjrbhg098bhtqhda1uqd5t0jl2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>857686266532-4tsokhnh2kiq22v2breenkfvcfoik6e2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC374BwfEzGZbvyjdZJxIpIMURliYxCDZM</string>
	<key>GCM_SENDER_ID</key>
	<string>857686266532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ke.co.workpay</string>
	<key>PROJECT_ID</key>
	<string>workpay-africawp</string>
	<key>STORAGE_BUCKET</key>
	<string>workpay-africawp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857686266532:ios:6f39748a5630dd32498c31</string>
	<key>DATABASE_URL</key>
	<string>https://workpay-africawp.firebaseio.com</string>
</dict>
</plist>